.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  height: 2500px;
 background: rgba(90, 84, 84, .7) url('https://cloud.githubusercontent.com/assets/8037580/18605179/85a080d2-7cbd-11e6-9079-ec09a8024662.png')repeat; }


.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
  .selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0; }
  .selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto; }

  .selectdemoSelectHeader md-content._md {
    max-height: 240px; }


    button{
      cursor: pointer;
width: 100%;
text-align: center;
font-size: 15px;
padding-left: 5px;
padding-top: 7px;
padding-bottom: 7px;
margin-bottom: 5px;
border: 2px solid white;
border-radius: 5px;
    }

    /*#correct {
width: 66%;
font-size: 18px;
padding-left: 5px;
margin-bottom: 5px;
background: linear-gradient(#468c46, #197019) !important;
border: 2px solid white;
border-radius: 5px;
    }

    #incorrect {
      width: 66%;
font-size: 18px;
padding-left: 5px;
margin-bottom: 5px;
background: linear-gradient(#902020, #701919) !important;
//color: black;
border: 2px solid white;
border-radius: 5px;
    }*/
