body {
   background: rgba(90, 84, 84, .7) url('https://cloud.githubusercontent.com/assets/8037580/18605179/85a080d2-7cbd-11e6-9079-ec09a8024662.png')repeat;
}

.navBardemoBasicUsage md-content .text-content {
  padding: 50px;
  margin: -20px;
  height: 2500px;
 background: rgba(90, 84, 84, .7) url('https://cloud.githubusercontent.com/assets/8037580/18605179/85a080d2-7cbd-11e6-9079-ec09a8024662.png')repeat; }
}

  .selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

  p {
    	width: 100%;
    	height: 100px;
    	z-index: 2;
    	box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    	margin: 0 auto;
    }

    .logo {
    	font-family: 'Lobster', cursive;
    	font-size: 4em;
    	font-weight: 400;
    	float: left;
    	padding: 5px;
      padding-left: 50px;
    	margin-top: 25px;
    }


    button{
      cursor: pointer;
width: 100%;
text-align: center;
font-size: 15px;
padding-left: 5px;
padding-top: 7px;
padding-bottom: 7px;
margin-bottom: 5px;
border: 2px solid white;
border-radius: 5px;
    }

    .dialogdemoBasicUsage #popupContainer {
    position: absolute; }


    /*#correct {
width: 66%;
font-size: 18px;
padding-left: 5px;
margin-bottom: 5px;
background: linear-gradient(#468c46, #197019) !important;
border: 2px solid white;
border-radius: 5px;
    }

    #incorrect {
      width: 66%;
font-size: 18px;
padding-left: 5px;
margin-bottom: 5px;
background: linear-gradient(#902020, #701919) !important;
//color: black;
border: 2px solid white;
border-radius: 5px;
    }*/
