<html ng-app="triviaQestion">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
  <div ng-controller="triviaCtrl">
    <select ng-model = "questionAmount">
      <option value = "5" ng-model = "questionAmount">5</option>
      <option value = "10" ng-model = "questionAmount">10</option>
    </select>
    <select ng-model = "questionCategory">
      <option value="8" ng-model = "questionCategory">Any</option>
      <option value="9" ng-model = "questionCategory">General Knowledge</option>
      <option value="10" ng-model = "questionCategory">Entertainment: Books</option>
      <option value="11" ng-model = "questionCategory">Entertainment: Film</option>
      <option value="12" ng-model = "questionCategory">Entertainment: Music</option>
      <option value="13" ng-model = "questionCategory">Entertainment: Musicals and Theatres</option>
      <option value="14" ng-model = "questionCategory">Entertainment: Television</option>
      <option value="15" ng-model = "questionCategory">Entertainment: Video Games</option>
      <option value="16" ng-model = "questionCategory">Entertainment: Board Games</option>
      <option value="17" ng-model = "questionCategory">Science & Nature</option>
      <option value="18" ng-model = "questionCategory">Science: Computers</option>
      <option value="19" ng-model = "questionCategory">Science: Mathematics</option>
      <option value="20" ng-model = "questionCategory">Mythology</option>
      <option value="21" ng-model = "questionCategory">Sports</option>
      <option value="22" ng-model = "questionCategory">Geography</option>
      <option value="23" ng-model = "questionCategory">History</option>
      <option value="24" ng-model = "questionCategory">Politics</option>
      <option value="25" ng-model = "questionCategory">Art</option>
      <option value="26" ng-model = "questionCategory">Celebrities</option>
      <option value="27" ng-model = "questionCategory">Animals</option>
      <option value="28" ng-model = "questionCategory">Vehicles</option>
      <option value="29" ng-model = "questionCategory">Entertainment: Comics</option>
      <option value="30" ng-model = "questionCategory">Science: Gadgets</option>
      <option value="31" ng-model = "questionCategory">Entertainment: Japanese Anime & Manga</option>
      <option value="32" ng-model = "questionCategory">Entertainment: Cartoon & Animations</option>
</select>
    <select ng-model = "questionDifficulty">
    <option value = "medium">medium</option>
    <option value = "easy">easy</option>
    <option value = "hard">hard</option>
    </select>
    <select ng-model = "questionType">
    <option value = "multiple">multiple</option>
    <option value = "boolean">boolean</option>
    </select>
<!--     <input ng-model = "questionAmount"></input>
    <input ng-model = "questionCategory"></input>
    <input ng-model = "questionDifficulty"></input>
    <input ng-model = "questionType"></input> -->

    <ul ng-repeat="trivia in trivias">

        <li>{{trivia.question}}</li>
        <li><button id = 'ok'>{{trivia.correct_answer}}</button><!--{{trivia.incorrect_answers}}--></li>
      <div ng-repeat="incorrect in trivia.incorrect_answers">
                <li><button id = 'ok'>{{incorrect}}</button></li>
      </div>
    </ul>
</div>
<!-- <script src="angular.js"></script> -->
</body>
</html>
